#homepage,#aboutpage,#helppage,#searchjobpage,#submitjobpage,#submitsuccesspage,#manageworksetpage,#updatesetsuccesspage
	{
	width: 1200px;
}

#loginlink,#worksetUploadLink,#searchlink {
	color: #FF6600;
}

#jobsuberror {
	color: red;
}